/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

body
{
    background-color: lightgray;
    padding: 20px;
}
#container
{
    width: 650px;
    height: 1000px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: white;
    margin: 0 auto;
}

#topbar
{
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-position: 0px 20px;
    width: 600px;
    height: 255px;
    text-indent: 463px;
    background-color: #4A423A;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-family: verdana;
    font-size: 11px;
    font-style: italic;
    padding-top: 4px;
}
#menu
{
    position: absolute;
    top: 260px;
    list-style-type: none;
}
#menu a
{
    display: none;
}
#menu li
{
    list-style-type: none;
    color: black;
    float: left;
    margin-left: 1px;
}
#menu li a
{
    background-color: #736E69;
    padding: 7px 19px 7px 19px;
    display: block;
    text-decoration: none;
    color: white;
    font-family: verdana;
}
#menu a:first-letter
{
    text-transform: uppercase;
}
#menu a:hover
{
background-color: #A19A93;
}
#menu .active a
{
   background-color: white;
   color:gray;
   margin-top: 1px;
}

#content
{
    width: 600px;
    margin: auto;
}
#maincontent
{
    width: 360px;
    height: 300px;
    border-right-style: dashed;
    border-right-width: 1.25px;
    border-right-color: gray;
    color: #736E69;
    float: left;
    line-height: 150%;
    font-weight: lighter;
    font-size: 0.85em;
}
#maincontent h1
{
    font-weight: lighter;
}
#maincontent img
{
    float: left;
    padding: 0px 4px 0px 0px;
}
#maincontent p
{
    font-family: verdana;
    padding-right: 5px;
}
#subcontent
{
    padding: 20px;
}
#bottomcontent
{
    
}