/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

body
{
    background-color: lightgray;
    padding: 20px;
}
#container
{
    width: 1000px;
    height: 1000px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: white;
    margin: 0 auto;
}
#topbar
{
    background-image: url(pics/coffey.jpg);
    width: 93%;
    height: 350px;
    background-color: gray;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-style: italic;
    
}
#menu
{
    
}
#content
{}
#maincontent
{}
#subcontent
{}
#bottomcontent
{}