/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

body
{
    background-color: lightgray;
    padding: 20px;
}
#container
{
    width: 650px;
    height: 1000px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: white;
    margin: 0 auto;
}
#topbar
{
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-position: 0px 20px;
    width: 600px;
    height: 260px;
    text-indent: 440px;
    background-color: gray;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-style: inherit;
}
#menu
{
    position: absolute;
    top: 260px;
    list-style-type: none;
}

ul
{
    
}
#menu ul li
{
    list-style-type: none;
    color: black;

    float: left;
    margin-left: 1px;
    
}
#menu ul li a
{
    background-color: yellow;
    padding: 7px;
    display: block;
}
a
{
    display: none;
    text-decoration: none;
    color: red;
}
a:first-letter
{
    text-transform: uppercase;
}
#content
{}
#maincontent
{}
#subcontent
{}
#bottomcontent
{}